#header-login
#wmsb-logo
.form-wrapper
  = simple_form_for @session, url: '/login', html: { id: 'login' } do |f|
    = f.input :family_name, input_html: { value: (cookies[:last_name] if cookies[:last_name]) }
    = f.input :student_number, type: 'number', input_html: { value: (cookies[:student_no] if cookies[:student_no]) }
    = f.input :date_of_birth, as: :date, start_year: 26.years.ago.year, end_year: 2.years.ago.year, order: [:month, :day, :year], include_blank: true
    = f.button :submit, value: 'Sign In'
  %span.faq-link
    =link_to 'Questions or problems?', faq_path, target: "_blank"

:javascript
  $( document ).ready(function() {
    if ("#{cookies[:month]}" && "#{cookies[:date]}" && "#{cookies[:year]}"){
      var month = "#{cookies[:month]}";
      var date = "#{cookies[:date]}";
      var year = "#{cookies[:year]}";
      $('#contact_id_date_of_birth_2i').val(month);
      $('#contact_id_date_of_birth_3i').val(date);
      $('#contact_id_date_of_birth_1i').val(year);
    }
  });